<h1>Forums</h1>

<% @categories.each do |category| %>
  <h2>
    <%= category.title %>
    <% if admin? %>
      (<%= link_to 'edit', edit_category_path(category) %> | <%= link_to 'delete', delete_category_path(category) %>)
    <% end %>
  </h2>
  <table style="width: 100%">
    <thead>
      <tr>
        <th>Title</th>
        <th style="width: 100px">Threads</th>
        <th style="width: 100px">Posts</th>
      </tr>
    </thead>
    <tbody>
      <% category.forums.each do |forum| %>
        <tr>
          <td>
            <strong><%= link_to forum.title, forum %></strong>
            <% if admin? %>
              (<%= link_to 'edit', edit_forum_path(forum) %> | <%= link_to 'delete', delete_forum_path(forum) %>)
            <% end %>
            <br>
            <%= forum.description %>
          </td>
          <td><%= forum.topics.count %></td>
          <td><%= forum.comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if admin? %>
    <p><%= link_to 'Create a new forum in this category...', new_category_forum_path(category) %></p>
  <% end %>
<% end %>

<% if admin? %>
  <p><%= link_to 'Create a new category...', new_category_path %></p>
<% end %>
