<h1><%= @forum.title %></h1>

<table style="width: 100%">
  <thead>
    <tr>
      <th>Title</th>
      <th style="width: 100px">Replies</th>
    </tr>
  </thead>
  <tbody>
    <% @forum.topics.each do |topic| %>
      <tr>
        <td>
          <strong><%= link_to topic.title, topic %></strong><br>
          <%= link_to topic.user.username, topic.user %>
        </td>
        <td><%= topic.replies %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New thread...', new_forum_topic_path(@forum) %></p>
