<p>
  <%= link_to 'Forums', forums_path %> &raquo;
  <%= @forum.category.title %> &raquo;
</p>

<h1><%= @forum.title %></h1>

<table style="width: 100%">
  <thead>
    <tr>
      <th>Title</th>
      <th style="width: 100px">Replies</th>
    </tr>
  </thead>
  <tbody>
    <% @forum.topics.by_pinned.each do |topic| %>
      <tr style="height: 50px;">
        <td>
          <% if topic.sticky? %>
            <%= image_tag 'sticky.png', style: 'vertical-align: middle;' %>
          <% end %>
          <% if topic.locked? %>
            <%= image_tag 'locked.png', style: 'vertical-align: middle;' %>
          <% end %>
          <strong><%= link_to topic.title, topic %></strong><br>
          by <%= link_to topic.user.username, topic.user %>, <%= published_date_of topic %>
        </td>
        <td><%= topic.replies %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if logged_in? %>
  <p><%= link_to 'New thread...', new_forum_topic_path(@forum) %></p>
<% end %>
