<h1>News</h1>

<% @news_posts.each do |post| %>
  <article>
    <header>
      <h1><%= link_to post.title, post %> <time datetime="<%= post.created_at.iso8601 %>"><%= published_date_of post %></time></h1>
    </header>
    <%= markdown post.content %>
    <% if admin? %>
      <footer>
        <p>
          <%= link_to 'Edit', edit_news_post_path(post) %> |
          <%= link_to 'Delete', delete_news_post_path(post) %>
        </p>
      </footer>
    <% end %>
  </article>
<% end %>

<% if admin? %>
  <p><%= link_to 'New Post', new_news_post_path %></p>
<% end %>

<% if num_pages > 1 %>
  <p class="pagination">
    <%= link_to '« Newer posts', news_posts_path(page: @page - 1) if @page > 1 %>
    <%= link_to 'Older posts »', news_posts_path(page: @page + 1) if @page < num_pages %>
  </p>
<% end %>
