<%= form_for(@headline) do |f| %>
  <% if @headline.errors.any? %>
    <p id="error_explanation">
      <h2><%= pluralize(@headline.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @headline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </p>
  <% end %>

  <p class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, style: 'width: 100%;' %>
  </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
