<h1>News</h1>

<% @headlines.each do |post| %>
  <article>
    <header>
      <h2>
        <%= link_to post.title, post %>
        <time datetime="<%= post.created_at.iso8601 %>"><%= published_date_of post %></time>
      </h2>
    </header>
    <%= markdown post.content %>
      <footer>
        <p>
          <%= link_to pluralize(post.comments.count, "comment"), post %>
          <% if admin? %>
            <span data-admin-tool>
              | <%= link_to 'Edit', edit_headline_path(post) %>
              | <%= link_to 'Delete', delete_headline_path(post) %>
            </span>
          <% end %>
        </p>
    </footer>
  </article>
<% end %>

<% if admin? %>
  <p data-admin-tool><%= link_to 'New Headline', new_headline_path %></p>
<% end %>

<%= will_paginate @headlines %>
