<h1>News</h1>

<% @posts.each do |post| %>
  <article>
    <header>
      <h1><%= link_to post.title, post %> <date><%= published_date_of post %></date></h1>
    </header>
    <%= markdown post.content %>
    <footer>
      <p>
        <%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Delete', delete_post_path(post) %>
      </p>
    </footer>
  </article>
<% end %>

<p><%= link_to 'New Post', new_post_path %></p>
