<article>
  <header>
    <h1><%= link_to @post.title, @post %> <time datetime="<%= @post.updated_at.iso8601 %>"><%= published_date_of @post %></time></h1>
  </header>
  <%= markdown @post.content %>
  <% if admin? %>
    <footer>
      <p>
        <%= link_to 'Edit', edit_post_path(@post.to_param) %> |
        <%= link_to 'Delete', delete_post_path(@post) %>
      </p>
    </footer>
  <% end %>
</article>
