<ul>
	 <li><%= link_to 'Home', root_path %></li><!--
	 
--><% Page.all.each do |page| %><!--
  --><li><%= link_to page.title, page %></li><!--
--><% end %><!--

--><li><%= link_to 'Member list', users_path %></li><!--
--><li><%= link_to 'Screenshots', screenshots_path %></li><!--
--><li><a href="http://mine.robinjam.net:8123/">Map</a></li><!--

--><% if admin? %><li><%= link_to 'Add a page', new_page_path %></li><% end %>
</ul>
