<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mundus Meus</title>
  <% unless request.env['HTTP_USER_AGENT'] =~ /Windows.+Chrome/ %>
    <script src="/snowstorm.js"></script>
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <style>
      .wrapper > nav li, .authentication form {
        zoom: 1;
        display: inline !important;
      }
    </style>
  <![endif]-->
</head>
<body class="<%= controller.controller_name %>">

<div class="authentication">
  <div class="wrapper">
    <%= render partial: 'authentication' %>
  </div>
</div>
<div class="branding">
  <div class="wrapper">
    <h1>Mundus Meus</h1>
  </div>
</div>
<div class="wrapper">
  <div class="navigation">
    <%= render partial: 'navigation' %>
  </div>
</div>
<div class="main">
  <div class="wrapper">
    <% flash.each do |key, value| %>
      <p class="flash <%= key %>"><%= value %></p>
    <% end %>

    <%= yield %>
    
  </div>
</div>
<div class="footer">
  <div class="wrapper">
    <p>&copy; <%= Time.now.year %> James Robinson.</p>
  </div>
</div>

</body>
</html>
