<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Robinjam's Minecraft Server</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <style>
      .wrapper > nav li, .authentication form {
        zoom: 1;
        display: inline !important;
      }
    </style>
  <![endif]-->
</head>
<body class="<%= controller.controller_name %>">

<div class="wrapper">
	<header>
	  <a style="width:1000px;height:50px;vertical-align:middle;text-align:center;background-color:#000;position:absolute;z-index:5555;top:75px;left:0px;background-image:url(http://americancensorship.org/images/stop-censorship-small.png);background-position:center center;background-repeat:no-repeat;" href="http://americancensorship.org"></a>
	</header>
	<div class="authentication">
	  <%= render partial: 'authentication' %>
	</div>
	<nav>
    <%= render partial: 'navigation' %>
	</nav>
  <% flash.each do |key, value| %>
    <p class="flash <%= key %>"><%= value %></p>
  <% end %>
	<section>

    <%= yield %>
	  
	</section>
	<footer>
		<p>&copy; <%= Time.now.year %> James Robinson.</p>
	</footer>
</div>

</body>
</html>
